<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      [alt]="recipe.name"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group dropdown">
      <a type="button" class="btn btn-primary dropdown-toggle" role="button">
        Manage recipe
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a (click)="allToShoppingList()" style="cursor: pointer">To Shopping list</a></li>
        <li><a (click)="onEditRecipe()" style="cursor: pointer">Edit recipe</a></li>
        <li><a (click)="onDeleteRecipe()" style="cursor: pointer">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients; let i = index"
      >
        <span>{{ ingredient.amount }} {{ ingredient.name }}</span>
        <button
          *ngIf="!ingredient.isInShoppingList"
          class="btn btn-xs btn-primary pull-right"
          type="button"
          (click)="addIngredientToShoppingList(i)"
        >
          Add to Shopping list
        </button>
        <button
          *ngIf="ingredient.isInShoppingList"
          class="btn btn-xs btn-primary pull-right"
          type="button"
          (click)="removeIngredientFromShoppingList(i)"
        >
          Remove from Shopping list
        </button>
      </li>
    </ul>
  </div>
</div>
